.home_content{
	font-size: 21rpx;
	font-family:PingFangSC-Regular,PingFang SC;
	font-weight:400;
	color:#000000;
	line-height:21rpx;
}
.home_header{
	position: relative;
	position: fixed;
	z-index: 99;
	top: 0;
	width: 100%;
	box-sizing: border-box;
	padding: 0 40rpx;
	background: #FFFFFF;
	.header{
		width: 100%;
		height: 95rpx;
		box-sizing: border-box;
		border: 1rpx solid #C2C2C2;
		border-radius: 14rpx;
		margin-bottom: 20upx;
		/* #ifndef APP-PLUS*/
		 margin-top: 20rpx; 
		/* #endif */
	}
}
.header_placeholder{
	height: 135rpx;
	/* #ifdef APP-PLUS*/
	height: 115rpx; 
	/* #endif */
}
.kingkong{
	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	.kingkong_list{
		width: 20%;
		margin-top: 35rpx;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: PingFangSC-Medium, PingFang SC;
		font-weight: 500;
		.list_box{
			width: 70rpx;
			height: 70rpx;
			border-radius: 18rpx;
			margin-bottom: 9rpx;
			display: flex;
			justify-content: center;
			align-items: center;
			image{
				width: 40rpx;
			}
		}
		
	}
}
.c{
	width: 100%;
	box-sizing: border-box;
	padding: 0 40rpx;
	position: relative;
	margin-top: 35rpx;
	.c_img{
		width: 100%;
	}
	.title{
		width: 217rpx;
		position: absolute;
		top: 37rpx;
		left: 82rpx;
	}
}
.house{
	width: 100%;
	box-sizing: border-box;
	padding: 0 40rpx;
	margin-top: 65rpx;
	.house_header{
		width: 100%;
		display: flex;
		align-items: center;
		.right{
			width: calc(100% - 30rpx);
			box-sizing: border-box;
			padding: 0 44rpx 0 29rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			.r_list{
				display: flex;
				align-items: center;
				font-size: 25rpx;
				line-height:25rpx;
				image{
					width: 10rpx;
					height: 10rpx;
					margin-left: 16rpx;
				}
			}
		}
		.filter{
			width: 30rpx;
			height: 30rpx;
		}
	}
	.house_ul{
		width: 100%;
		.house_list{
			width: 100%;
			box-sizing: border-box;
			padding-right: 13rpx;
			margin-top: 40rpx;
			display: flex;
			align-items: center;
			.house_img{
				width: 220rpx;
				height: 220rpx;
				border-radius: 8rpx;
				background: #F5F5F5;
				margin-right: 29rpx;
			}
			.right{
				width: calc(100% - 220rpx - 29rpx);
				height: 220rpx;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				font-family: PingFangSC-Medium, PingFang SC;
				font-weight: 500;
				.top{
					width: 100%;
					display: flex;
					flex-direction: column;
					color: #333333;
					.title{
						width: 100%;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
						font-size: 28rpx;
						line-height:28rpx;
					}
					.label_ul{
						width: 100%;
						overflow: hidden;
						margin-top: 16upx;
						display: flex;
						align-items: center;
						font-size: 15rpx;
						line-height:15rpx;
						.label_list{
							background: #E5E5E5;
							color: #3A4152;
							padding: 2rpx 6rpx;
							margin-right: 20rpx;
						}
					}
					.area{
						width: 100%;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
						margin-top: 16upx;
						font-size: 19rpx;
						line-height:19rpx;
					}
					.address{
						width: 100%;
						overflow: hidden;
						text-overflow:ellipsis;
						white-space: nowrap;
						margin-top: 16upx;
						font-size: 21rpx;
						line-height:21rpx;
					}
				}
				.bot{
					width: 100%;
					display: flex;
					align-items: flex-end;
					justify-content: space-between;
					color: #FF0D0D;
					font-size: 24rpx;
					line-height:24rpx;
					.left{
						.price{
							font-size: 32rpx;
							line-height:32rpx;
						}
					}
					image{
						width: 24rpx;
						height: 24rpx;
					}
				}
			}
		}
	}
}